<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.jishi.cloud_note.dao.UserDao">
<insert parameterType="cn.jishi.cloud_note.entity.User" id="save"> 
insert into cn_user (id,name, password,nick) values (#{id},#{name}, #{password},#{nick}) 
</insert>
<select parameterType="string" id="findByName" resultType="cn.jishi.cloud_note.entity.User"> 
select * from cn_user where name = #{name} 
</select>

</mapper>